@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-color: hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
}
.wrapper .contenedor{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: hsl(228, 56%, 26%);
    height: 200px;
    padding: 2rem;
    border-radius: 1rem;
    border-top-right-radius: 50%;
}
.right .contenedor{
    display: flex;
    flex-direction: column;
    background-color:hsl(228, 56%, 26%);
}
.icons ul{
    list-style: none;
    display: flex;
    padding: 1rem 0;
}
.icons ul li:nth-child(2){
    margin: 0 1rem;
}
.icons ul li{
    display: flex;
    background-color: hsl(229, 57%, 11%);
    padding: 0.6rem;
    align-items: center;
    border-radius: 0.4rem;
    
}

/* slider */

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 25px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-image: url(images/icon-slider.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-position: center;
    width: 45px; /* Set a specific slider handle width */
    height: 45px; /* Slider handle height */
    background-color: hsl(174, 86%, 45%);/* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 45px; /* Set a specific slider handle width */
    height: 45px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  

/* slider */