@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom ;
    background-color: hsl(229, 57%, 11%);
    color: hsl(243, 100%, 93%);
}
.wrapper{
  transform: translateY(-35px);
}
.wrapper .contenedor{
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}
/* left container */
.left{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: hsl(228, 56%, 26%);
    height: 200px;
    padding: 2rem;
    border-radius: 1rem;
    border-top-right-radius: 40%;
}

.icons ul{
    list-style: none;
    display: flex;
    padding: 1rem 0;
}
.icons ul li:nth-child(2){
    margin: 0 1rem;
}
.icons ul li{
    display: flex;
    background-color: hsl(229, 57%, 11%);
    padding: 0.6rem;
    align-items: center;
    border-radius: 0.4rem;
    
}
/* left container */

/* right container */
.right{
  padding: 1rem;
  transform: translateY(26px);
  border-radius: 5px;
  
}
.right .contenedor{
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color:hsl(228, 56%, 26%);
  padding:  2rem 2rem 0.6rem 2rem;

  position: relative;
  border-radius: 5px;
}
.data{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.contenedor{
  position: relative;
}
.floater{
  width: 180px;
  height: 80px;
  background-color: white;
  color: hsl(229, 7%, 55%);
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  right: 35px;
  
}
.floater .contenedor-f p span{
  font-size: 2.5rem;   
  color: hsl(229, 57%, 11%);
}
.contenedor-f{
  position: relative;


}
.arrow-right{
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    position: absolute;
    right: 0;
    top: 25px;
}
#white{
  color: white;
}
/* right container */

/* slider */

.slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  /* The slider itself */
  input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 15px;
    background-color: hsl(229, 57%, 11%);
    background-image: linear-gradient(to right, hsl(6, 100%, 80%),  hsl(335, 100%, 65%));
    background-size: 67.1% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
    border: 0;
    background: #fff;
    border: 1px solid #777;
    border-radius: 8px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
  
  
  /* Mouse-over effects */

  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background-color: white;/* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  

/* slider */

/* media queries */
@media (max-width:700px){
  body{
    background-image: url(images/bg-mobile.png);
    background-position: center;
    background-size: cover;

  }
  .wrapper .contenedor{
    flex-direction: column;
    width: 100%;
  }
  .right {
    min-width: 100%;
    padding: 0 
  }
  .left{
    width: 100%;
    
  }
  .data{
    padding-bottom: 2rem;
  }
  .floater{
    width: 180px;
    height: 80px;
    border: 2px solid transparent;
    top: 73%;
    right: 0;
    left: 70px;
    
  }
  .arrow-right{
    display: none;
  }
}
